---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

import MainLayout from "../../layouts/MainLayout.astro";

const posts = (await getCollection("blog"))
  .filter((v) => {
    // if DEV, show draft posts
    if (import.meta.env.DEV == true) {
      return true;
    }
    return v.data.draft !== true;
  })
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<MainLayout>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <FormattedDate date={post.data.pubDate} />
            <a href={`/blog/${post.slug}/`}>
              <>
                <h2>{post.data.title}</h2>
                <p>{post.data.description}</p>
              </>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>
