---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "border-x border-l-pink-950/10 border-r-pink-50/20 h-full block p-4",
    className,
    { active: isActive },
  ]}
  {...props}
>
  <slot />
</a>
<style></style>
