---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const { pageTitle, pageDescription, pageImage } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={pageTitle ? `${pageTitle} - ${SITE_TITLE}` : SITE_TITLE}
      description={pageDescription ? pageDescription : SITE_DESCRIPTION}
      image={pageImage ? pageImage : "/placeholder-social.jpg"}
    />
  </head>
  <body
    class="relative min-h-screen bg-white dark:bg-black bg-gradient-to-br from-pink-50 to-pink-100 text-slate-900 dark:from-pink-950 dark:via-pink-900 dark:to-pink-700 dark:text-slate-200"
  >
    <Header title={SITE_TITLE} />
    <main class="md:my-4">
      <slot />
    </main>
    <Footer />
    <style is:global>
      html {
        text-shadow: 0 1px 1px rgb(255 255 255/5);
      }

      @media (prefers-color-scheme: dark) {
        html {
          text-shadow: 0 1px 1px rgb(0 0 0 / 25);
        }
      }

      /* force dark mode text-shadow */
      .astro-code {
        text-shadow: 0 1px 1px rgb(0 0 0 / 25);
      }
    </style>
    <script
      is:inline
      async
      src="https://umami.of.the.enbywit.ch/script.js"
      data-website-id="f525140d-0983-4a65-a177-b93536ae33f7"></script>
  </body>
</html>
